*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: medium;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: medium;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Anton SC";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AntonSC/Anton-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Anton SC";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AntonSC/Anton-Regular.woff") format("woff");
    font-display: swap;
}

body {
    margin: 0 auto;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    /* background-color: #F5F7E0; */
    color: #1C1C1C;
    min-width: 320px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    min-height: 100%;
    letter-spacing: 1px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    body {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 1440px) {
    body {
        font-size: 28px;
        line-height: 33px;
    }
}

main {
    flex-grow: 1;
    background-color: #F5F7E0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    margin: 0 0 10px;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    h2 {
        font-size: 25px;
        line-height: auto;
    }
}

@media (min-width: 1440px) {
    h2 {
        font-size: 36px;
        line-height: 42px;
        margin: 0 0 15px;
    }

}

.container {
    display: flex;
    flex-flow: column wrap;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        padding: 0 25px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 0 40px;
    }
}

section {
    padding: 20px 0;
}

@media (min-width: 1440px) {
    section {
        padding: 20px 0;
    }
}

/* HEADER */

.page-header {
    background-color: #114D2E;
    color: #FFFFFF;
    padding: 10px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .page-header {
        padding: 15px 0;
    }
}

@media (min-width: 1440px) {
    .page-header {
        padding: 20px 0;
    }
}

.header-logotype {
    display: flex;
    font-family: "Anton SC", Arial Black, sans-serif;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 2px;
    justify-content: center;
    margin-bottom: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header-logotype {
        font-size: 36px;
        line-height: 54px;
    }
}

@media (min-width: 1440px) {
    .header-logotype {
        font-size: 40px;
        line-height: 60px;
    }
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-menu {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    font-size: 22px;
    line-height: 26px;
    width: 290px;
}

@media (min-width: 768px) and (max-width: 1439px) {
    .header-menu {
        font-size: 23px;
        line-height: 27px;
        width: unset;
    }
}

@media (min-width: 1440px) {
    .header-menu {
        font-size: 24px;
        line-height: 28px;
        width: unset;
    }
}

.header-menu-item {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.header-menu-item.active {
    border-bottom: solid 1px #FFFFFF;
}

.header-menu-link {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 8px 5px;
    color: #FFFFFF;
    text-decoration: none;
}

/* FOOTER */

.page-footer {
    background-color: #F5F7E0;
    color: #1C1C1C;
    padding: 10px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border-top: solid 1px #1C1C1C;

}

@media (min-width: 768px) and (max-width: 1199px) {
    .page-footer {
        padding: 15px 0;
    }
}

@media (min-width: 1440px) {
    .page-footer {
        padding: 20px 0;
    }
}

@media (min-width: 1440px) {
    .footer-content-wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 50px;
        margin: 0 0 20px;
    }
}

.footer-logotype {
    display: none;
}

@media (min-width: 768px) {
    .footer-logotype {
        display: flex;
        font-family: "Anton SC", Arial Black, sans-serif;
        font-size: 22px;
        line-height: auto;
        letter-spacing: 2px;
        justify-content: center;
        text-decoration: none;
        color: #1C1C1C;
        text-decoration: none;
        margin: 0 0 10px;
        padding: 0;
    }
}

@media (min-width: 1440px) {
    .footer-logotype {
        display: flex;
        font-family: "Anton SC", Arial Black, sans-serif;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 2px;
        margin: 0;
    }
}

.footer-nav {
    display: flex;
    justify-content: center;
}

@media (min-width: 1440px) {
    .footer-nav {
        margin: 0 20px;
    }
}

.footer-menu {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    gap: 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer-menu {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width: 1440px) {
    .footer-menu {
        font-size: 20px;
        line-height: 23px;
        margin: 0;
    }
}

.footer-menu-item {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer-menu-link {
    display: block;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    padding: 8px 5px;
    color: #1C1C1C;
    text-decoration: none;
}

.social-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 0 20px;
    padding: 0;
}

@media (min-width: 1440px) {
    .social-list {
        margin: 0;
    }
}

.social-list-link {
    display: flex;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
}

@media (min-width: 768px) {
    .social-list-link {
        margin: 0;
        width: 20px;
        height: 20px;

    }
}

.social-list-link.instagramm {
    background-image: url(../images/icons/instagramm-logo.svg);
}

.social-list-link.fb {
    background-image: url(../images/icons/fb-logo.svg);
}

.policy {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    justify-content: center;
}

@media (min-width: 1440px) {
    .policy {
        font-size: 12px;
        line-height: 14px;
    }
}

/* HERO */

.hero {
    margin: 0;
    padding: 20px 0;
    background-color: #F5F7E0;

}

.hero-heading-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 35px;
    margin: 0 0 20px;
}

.hero-heading {
    font-family: "Anton SC", Arial Black, sans-serif;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

.hero-heading:first-of-type {
    color: #114D2E;
    width: 250px;
}

.hero-image {
    display: block;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .hero {
        display: flex;
        flex-flow: row wrap;
        gap: 0;
        padding: 20px 0;
        justify-content: center;
    }

    .hero .container {
        justify-content: center;
        margin: 0;

    }

    .hero-heading-wrapper {
        width: 300px;
    }

    .hero-image {
        margin: 0 25px 0 0;
    }
}

@media (min-width: 1440px) {
    .hero {
        padding: 30px 40px;
        justify-content: space-between;
    }

    .hero-image {
        border-radius: 30px;
        margin: 0;
    }

    .hero-heading {
        font-size: 54px;
        line-height: 81px;
    }

    .hero .container {
        padding: unset;
    }

    .hero-heading-wrapper {
        width: 515px;
    }

    .hero-heading:first-of-type {
        width: 515px;
    }
}

/* ABOUT */

.about {
    margin: 0;
    padding: 20px 0;
    background-color: #F5F7E0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-top: solid 1px #1C1C1C;
    border-bottom: solid 1px #1C1C1C;

}

.about .container {
    align-items: center;
    padding: 0 15px;
    flex-direction: column-reverse;
}

.about-image {
    display: flex;
    padding: 0;
    margin: 0 calc((100% - 320px) / 2);
    align-self: center;
}

.about-wrapper {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 290px;
}

.about-wrapper p {
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .about {
        padding: 20px 0;
        border-top: solid 1px #1C1C1C;
        border-bottom: solid 1px #1C1C1C;
    }

    .about .container {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .about-image {
        margin: 0;
    }

    .about-wrapper {
        width: 320px;
    }

    .about-heading {
        margin: 0 0 20px;
    }
}

@media (min-width: 1440px) {
    .about-wrapper p {
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 1px;
        margin: 0 0 45px;
    }

    .about-wrapper {
        width: 651px;
    }

    .about .container {
        align-items: flex-start;
    }

    .about-image {
        border-radius: 30px;
    }

    .about-heading {
        margin: 0 0 30px;
    }

    .about {
        padding: 30px 0;
    }
}

/* MAIN-PAGE-GALLERY */

.main-page-gallery {
    margin: 0;
    padding: 20px 0;
    background-color: #F5F7E0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.main-page-gallery-image {
    display: block;
    padding: 0;
    margin: 0 calc((100% - 320px) / 2);
}

.main-page-gallery .bil2 {
    display: none;
}

@media (min-width: 768px) {
    .main-page-gallery-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 30px 25px;
    }

    .main-page-gallery .bil2 {
        display: block;
    }

    .main-page-gallery-image {
        margin: 0;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .main-page-gallery .bil1 {
        height: 217px;
        width: auto;
    }
}

@media (min-width: 1440px) {
    .main-page-gallery .bil1 {
        height: 400px;
        width: auto;
    }
}

/* PAGE_ABOUT */

/* HISTORY */
.history {
    background-color: #F5F7E0;
    padding: 0 0 20px;
}

.Elvis-image {
    display: block;
    margin: 0 calc((100% - 320px) / 2) 15px;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.history-description {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    width: 290px;
}

.history-description p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.history .container {
    align-items: center;
}

@media (min-width: 768px) {
    .history {
        padding: 20px 0;
    }

    .history .container {
        flex-flow: row wrap;
        gap: 30px;
        justify-content: center;
        align-items: flex-start;
    }

    .Elvis-image {
        margin: 0;
    }

    .history-description {
        width: 350px;
    }
}

@media (min-width: 1440px) {
    .history {
        padding: 30px 0;
    }

    .Elvis-image {
        border-radius: 30px;
    }

    .history-description {
        width: 602px;
        gap: 30px;
    }

    .history .container {
        gap: 80px;
        align-items: center;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .history-description p {
        font-size: 24px;
        line-height: 28px;
    }
}

/* TEAM */
.team {
    padding: 20px 0;
    display: flex;
    flex-flow: column wrap;
    border-top: solid 1px #1C1C1C;
}

.team .container {
    align-items: center;
}

.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.master-image {
    display: block;
    margin: 0 calc((100% - 320px) / 2);
    padding: 0;
    width: 320px;
    height: auto;
}

.master-info h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 5px;
    letter-spacing: 0;
}

.master-info h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 10px;
    letter-spacing: 0;
}

.master-info p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
}

.team-list-item {
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.item-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 290px;
}

@media (min-width: 768px) {
    .team-list {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .master-image {
        margin: 0 0 10px;
        border-radius: 30px;
    }

    .item-wrapper {
        width: 320px;
    }
}

@media (min-width: 1440px) {
    .master-info h3 {
        font-size: 28px;
        line-height: 33px;
    }

    .master-info h4 {
        font-size: 24px;
        line-height: 28px;
    }

    .master-info p {
        font-size: 24px;
        line-height: 28px;
    }

    .item-wrapper {
        flex-flow: row nowrap;
        width: 660px;
        gap: 30px;
        align-items: flex-start;
    }

    .team-list {
        row-gap: 20px;
    }
}

/* AUTOSERVICE-GALLERY */
.autoservice {
    padding: 20px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.autoservice-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.autoservice-image {
    display: block;
    margin: 0;
    padding: 0;
}

.autoservice-image-4 {
    display: none;
}

@media (min-width: 768px) {
    .autoservice-wrapper {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        max-width: 700px;
    }

    .autoservice-image-4 {
        display: block;
    }
}

@media (min-width: 1440px) {
    .autoservice-wrapper {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        max-width: unset;
    }
}

/* HOVER/ACTIVE/FOCUS */

.header-logotype,
.header-menu-item,
.header-menu-link,
.footer-logotype,
.footer-menu-item,
.footer-menu-link,
.social-list-link,
.social-list-item,
.policy {
    transition: opacity ease 0.3s;
}

.header-logotype:hover,
.header-menu-item:hover,
.header-menu-link:hover,
.footer-logotype:hover,
.footer-menu-item:hover,
.footer-menu-link:hover,
.social-list-link:hover,
.social-list-item:hover,
.policy:hover {
    opacity: 70%;
}

.header-logotype:focus,
.header-menu-item:focus,
.header-menu-link:focus,
.footer-logotype:focus,
.footer-menu-item:focus,
.footer-menu-link:focus,
.social-list-link:focus,
.social-list-item:focus,
.policy:focus,
.header-logotype:focus-visible,
.header-menu-item:focus-visible,
.header-menu-link:focus-visible,
.footer-logotype:focus-visible,
.footer-menu-item:focus-visible,
.footer-menu-link:focus-visible,
.social-list-link:focus-visible,
.social-list-item:focus-visible,
.policy:focus-visible,
.header-logotype:focus-within,
.header-menu-item:focus-within,
.header-menu-link:focus-within,
.footer-logotype:focus-within,
.footer-menu-item:focus-within,
.footer-menu-link:focus-within,
.social-list-link:focus-within,
.social-list-item:focus-within,
.policy:focus-visible {
    outline: #C06014 solid 1px;
    outline-offset: 5px;
    border-color: transparent;
}

.header-logotype:active,
.header-menu-item:active,
.header-menu-link:active,
.footer-logotype:active,
.footer-menu-item:active,
.footer-menu-link:active,
.social-list-link:active,
.social-list-item:active,
.policy:active {
    opacity: 50%;
    outline: none;
}

/* disabled?  */

/* SERVICES */
.main-services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-services-heading,
.main-services-description {
    display: block;
    margin: 0 0 10px;
    padding: 0;
}

.main-services-description {
    font-size: 14px;
    line-height: 16px;
    width: 290px;
}

.main-services-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 10px;
    width: 290px;
}

.services-list-heading {
    display: block;
    margin: 0 0 7px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}

.services-list-item p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}

.services-list-item.emphasis {
    display: block;
    margin: 0;
    padding: 0;
    color: #C06014;
    font-weight: 600;
}

.services-list-item-hidden {
    display: none;
}

@media (min-width: 768px) {

    .main-services-description {
        width: 730px;
        margin: 0 0 20px;
    }

    .main-services-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 20px 30px;
        width: 730px;
        justify-content: center;
        position: relative;
    }

    .main-services-list::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #C06014;
    }

    .services-list-item {
        width: 350px;
    }

    .services-list-item.emphasis {
        display: block;
        margin: 0;
        padding: 0;
        color: #C06014;
        font-size: 14px;
        line-height: 16px;
    }

    .services-list-item-hidden {
        display: block;
    }

}

@media (min-width: 1440px) {

    .main-services-description {
        width: 1300px;
        margin: 0 0 20px;
        font-size: 28px;
        line-height: 30px;
        text-align: center;

    }

    .main-services-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 40px 60px;
        width: 1300px;
        justify-content: center;
    }

    .services-list-item {
        width: 500px;
    }

    .services-list-item.emphasis {
        display: block;
        margin: 0;
        padding: 0;
        color: #C06014;
        font-size: 24px;
        line-height: 26px;
    }


    .main-services-heading,
    .main-services-description {
        margin: 0 0 20px;
    }

    .services-list-heading {
        font-size: 24px;
        line-height: 26px;
    }

    .services-list-item p {
        font-size: 24px;
        line-height: 26px;
    }
}

/* SERVICES-FORM */

.services-form {
    background-color: #114D2ED6;
    min-width: 320px;
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-form-container {
    padding: 30px 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-form-heading {
    text-transform: none;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 34px;
    padding: 0;
}

.services-form-description {
    display: block;
    margin: 0 0 44px;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    width: 290px;
    text-align: center;
}

.form__fieldset {
    margin: 0 0 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
}

.form__input {
    min-height: 50px;
    width: 258px;
    padding: 15px;
    margin: 0;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    transition: all 0.3s ease;
    outline: none;
    cursor: pointer;
}

.form__button {
    min-height: 58px;
    width: 258px;
    padding: 20px 10px 19px;
    background-color:#C06014;
    color:#FFFFFF;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    line-height: 16px;
}

@media (min-width: 768px) {
    .services-form-heading {
        width: 500px;
        text-align: center;
    }

    .services-form-description {
        width: 400px;
    }
}

@media (min-width: 1440px) {
    .form__fieldset {
        flex-direction: row;
        gap: 30px;
    }

    .form__input {
        min-height: 56px;
        width: 360px;
        padding: 15px 30px 16px;
    }

    .form__button {
        padding: 20px 10px 18px;
        width: 180px;
    }

    .services-form-heading {
        font-size: 48px;
        line-height: 56px;
        margin: 0 0 40px;
        width: 500px;
    }

    .services-form-description {
        font-size: 24px;
        line-height: 28px;
        width: 770px;
        margin: 0 0 40px;
    }
    
    .services-form-container {
        padding: 60px 20px;
    }    
}